body {
  background-color: #C9C9C9;
  color: black;

}

#headerImg {
	width: 400;
	margin-bottom: 1em;
}

.ng-class {
	width: 20em;
}

header {
	min-height: 550px;
	background-position: left;	
	background-image: url("img/record-player.jpg");
	margin-bottom: 50px;
}

header img {
	margin-top: 180px;	
}


