body {
  background-color: #C9C9C9; 
  color: black;
}

#headerImg {
	width: 400;
	margin-bottom: 1em;
}

.ng-class {
	width: 20em;
}

header {
	min-height: 500px;
	background-position: center;	
	background-image: url("img/record-player.jpg");
	margin-bottom: 50px;
	background-repeat: no-repeat;
}

header img {
	margin-top: 180px;	
}

div.help-block {
	text-align: center;
}

.resultDiv img {
	min-height: 240px;
	max-width: 240px;
}

.resultDiv p {
	min-height: 40px;
}

.resultDiv {
	display: inline-block;
	margin-right: auto;
	margin-left: auto;
	padding: 1%;
}

/*positions backdrop, and gives it a box-shadow*/
#popup {
	box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.5); /*h-shadow, v-shadow, blur, color*/
	position: fixed;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: 15%;
	z-index: 100;
	background-color: #282828;
	color: #AEAEAE;
	width: 80%;
	/*height: 500px;*/
	text-align: center;
}

/*darkens opaque backdrop for the popup to focus user's attention, set z-index to one below
the popup in order to make it a background*/
.overlay { 
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color: #282828;
    opacity:0.8;
    z-index:99;
}

.playingSpan {
	color: black;
}

#selectImages {
	padding: 1%;
	display: block;
	margin-right: 0 auto;
	margin-left: 0 auto;
	text-align: center;
}

/*positions the pause music button in bottom right of screen*/
.btn-warning {
	position: fixed;
	z-index: 100;
	right:5%;
	bottom: 3%;
}