body {
  background-color: #C9C9C9;
  color: black;

}

#headerImg {
	width: 400;
	margin-bottom: 1em;
}

.ng-class {
	width: 20em;
}

header {
	min-height: 500px;
	background-position: center;	
	background-image: url("img/record-player.jpg");
	margin-bottom: 50px;
	background-repeat: no-repeat;
}

header img {
	margin-top: 180px;	
}

ul {
	padding-left: 0;
}

li {
	text-align: center;
	display: inline;
}

div.help-block {
	text-align: center;
}

.resultDiv img {
	min-height: 240px;
	max-width: 240px;

	/*padding: 30px;*/
	/*margin-right: auto;
	margin-left: auto;
	display: block;
	margin: 0;
*/
}

.resultDiv p {
	min-height: 40px;
}

.animateDiv {
	min-height: 40px;
	background-color: white;
}

#popup {
	box-shadow: 4px 4px 5px 3px; /*h-shadow, v-shadow, blur, spread */
	/*margin-right: auto;
	margin-left: auto;*/
	position: fixed;
	margin: 0 auto;
	left: 0;
	right: 0;
	bottom: 200px;
	z-index: 100;
	background-color: gray;
	width: 80%;
	height: 500px;
	text-align: center;
	/*margin-left: 3.9%;*/
/*	margin-right: auto;
	margin-left: auto;
	display: block;*/
}


