<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Spofity</title>
	<link rel="page icon" href="img/logo.png">
	
	<!-- Include libraries -->
	<script src="https://code.jquery.com/jquery.min.js"></script>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
	
	<!-- Read scripts -->
	<script src="app.js"></script>
	<link href="app.css" type="text/css" rel="stylesheet"/>	
	
</head>
	<body>
		<!-- Initiate app -->
		<div ng-app="myApp" ng-controller="myCtrl">
			<div class="container">
				<img id="headerImg" src="img/Spofity-logo.png">
			</div>

			<!-- Form -->
			<form class="container" name="songForm" novalidate>

				<!-- Song Search -->
				<div class="form-group" ng-class="{'has-error':songForm.searchSong.$touched && songForm.searchSong.$invalid}">
					<label>Song search:</label>
					<input name="searchSong" placeholder="Enter your search..." ng-model="track" ng-minlength="2" class="form-control" required></input>
					<p ng-show="songForm.search.$error.minlength" class="help-block">Search item is too short</p>

				</div>
				<div class="form-group">
					<button ng-disabled="songForm.searchSong.$invalid" class="btn btn-primary" ng-click="getSongs()" type="submit">Submit</button>
				</div>

				<!-- Artist Search -->
				<div class="form-group" ng-class="{'has-error':songForm.searchArt.$touched && songForm.searchArt.$invalid}">
					<label>Artist search:</label>
					<input name="searchArt" placeholder="Enter your search..." ng-model="artist" ng-minlength="2" class="form-control" required></input>
					<p ng-show="songForm.search.$error.minlength" class="help-block">Search item is too short</p>
				</div>
				<div class="form-group">
					<button ng-disabled="songForm.searchArt.$invalid" class="btn btn-primary" ng-click="getArtist()" type="submit">Submit</button>
				</div>
			</form>

			<!-- Results -->
			<div class="container-fixed">
				<div class="help-block">
					<span ng-show="tracks.length>0">Click to sample</span>
					<span ng-show="currentSong && !audioObject.paused">(playing)</span>
				</div>
				<ul>
					<li ng-repeat="track in tracks" class="" ng-click="play(track.preview_url)" title="{{track.name}}">{{track.name + ', by ' + track.artists[0].name}}</li>
					<li ng-repeat="artist in artists" class="" title="{{artist.name}}">{{artist.name}} <!-- <img src="{{imageUrl}}"> --></li> 
					<!-- can add ng-show="show(artist.images[0])" above, but won't show artist.name if I do because the method is commented out in the js file -->
				</ul>		
			</div>
		</div>
 
</body>
</html>